USE [master]
GO
/****** Object:  Database [UTP_MAPS]    Script Date: 11/28/2024 9:27:44 AM ******/
CREATE DATABASE [UTP_MAPS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UTP_MAPS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER_2022\MSSQL\DATA\UTP_MAPS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UTP_MAPS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER_2022\MSSQL\DATA\UTP_MAPS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UTP_MAPS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UTP_MAPS]
GO
/****** Object:  Table [dbo].[EDIFICIO]    Script Date: 11/28/2024 9:27:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EDIFICIO](
	[cod_edificio] [int] IDENTITY(1,1) NOT NULL,
	[nombre_edificio] [varchar](50) NULL,
	[coordenadas_edificio] [varchar](50) NULL,
	[cod_icono] [int] NOT NULL,
 CONSTRAINT [pk_cod_edificio] PRIMARY KEY CLUSTERED 
(
	[cod_edificio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTUDIANTE]    Script Date: 11/28/2024 9:27:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTUDIANTE](
	[email_estudiante] [varchar](50) NOT NULL,
	[contrasena_email_estudiante] [varchar](20) NOT NULL,
 CONSTRAINT [pk_email_estudiante] PRIMARY KEY CLUSTERED 
(
	[email_estudiante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ICONOS]    Script Date: 11/28/2024 9:27:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ICONOS](
	[cod_icono] [int] NOT NULL,
	[nom_icono] [varchar](200) NULL,
 CONSTRAINT [PK_ICONOS] PRIMARY KEY CLUSTERED 
(
	[cod_icono] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALON]    Script Date: 11/28/2024 9:27:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALON](
	[cod_salon] [varchar](10) NOT NULL,
	[tipo_salon] [varchar](20) NOT NULL,
	[cod_edificio] [int] NOT NULL,
	[cooredenadas_salon] [varchar](50) NULL,
	[cod_icono] [int] NOT NULL,
 CONSTRAINT [pk_cod_salon] PRIMARY KEY CLUSTERED 
(
	[cod_salon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EDIFICIO]  WITH CHECK ADD  CONSTRAINT [FK_EDIFICIO_ICONOS] FOREIGN KEY([cod_icono])
REFERENCES [dbo].[ICONOS] ([cod_icono])
GO
ALTER TABLE [dbo].[EDIFICIO] CHECK CONSTRAINT [FK_EDIFICIO_ICONOS]
GO
ALTER TABLE [dbo].[SALON]  WITH CHECK ADD  CONSTRAINT [FK_SALON_EDIFICIO] FOREIGN KEY([cod_edificio])
REFERENCES [dbo].[EDIFICIO] ([cod_edificio])
GO
ALTER TABLE [dbo].[SALON] CHECK CONSTRAINT [FK_SALON_EDIFICIO]
GO
ALTER TABLE [dbo].[SALON]  WITH CHECK ADD  CONSTRAINT [FK_SALON_ICONOS] FOREIGN KEY([cod_icono])
REFERENCES [dbo].[ICONOS] ([cod_icono])
GO
ALTER TABLE [dbo].[SALON] CHECK CONSTRAINT [FK_SALON_ICONOS]
GO
/****** Object:  StoredProcedure [dbo].[getHistorial]    Script Date: 11/28/2024 9:27:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[getHistorial] @email varchar(20)
as
begin
select email_estudiante,cod_facultad,cod_salon,hora_busqueda from HISTORIAL
where email_estudiante = @email
end
GO
/****** Object:  StoredProcedure [dbo].[registro]    Script Date: 11/28/2024 9:27:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[registro] @email varchar(20), @salon varchar(10), @facultad  int
as
begin
insert into HISTORIAL (cod_busqueda,email_estudiante,cod_facultad,cod_salon,fecha_busqueda,hora_busqueda)
values (FLOOR(RAND()*(99999-1+1)+1), @email, @facultad, @salon,cast(CURRENT_TIMESTAMP as date), cast(CURRENT_TIMESTAMP as time(0)))
end
GO
/****** Object:  StoredProcedure [dbo].[salones]    Script Date: 11/28/2024 9:27:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[salones]
as
select * from SALON
GO
USE [master]
GO
